<div>
    <h2 id="page-heading">
        <span>Diagnoses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diagnose" [routerLink]="['/diagnose/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Diagnose
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="diagnoses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diagnoseDate"><span>Diagnose Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diseaseId"><span>Disease</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doctorId"><span>Doctor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="patientId"><span>Patient</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diagnose of diagnoses ;trackBy: trackId">
                <td><a [routerLink]="['/diagnose', diagnose.id, 'view' ]">{{diagnose.id}}</a></td>
                <td>{{diagnose.diagnoseDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="diagnose.diseaseId">
                        <a [routerLink]="['../disease', diagnose.diseaseId , 'view' ]" >{{diagnose.diseaseId}} - {{diagnose.diseaseName}}</a>
                    </div>
                </td>
                <td>
                    {{diagnose.doctorId}} - {{diagnose.doctorFirstName}} {{diagnose.doctorLastName}}
                </td>
                <td>
                    <div *ngIf="diagnose.patientId">
                        <a [routerLink]="['../patient', diagnose.patientId , 'view' ]" >{{diagnose.patientId}} - {{diagnose.patientFirstName}} {{diagnose.patientLastName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/diagnose', diagnose.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/diagnose', diagnose.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'diagnose/'+ diagnose.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="diagnoses && diagnoses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
